.instructor-detail {
  padding: 20px;
  text-align: center;
  background-color: black;
}

.back-button {
  position: absolute; /* Positioning it on the top left */
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white; /* Arrow color white */
  cursor: pointer;
  z-index: 1001;
}

.instructors-label {
  position: absolute; /* Positioning it next to the back button */
  top: 20px;
  left: 60px;
  font-size: 24px;
  color: white; /* Text color */
}

.instructor-detail h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #e2d9d9;
}

.instructor-detail-image {
  width: 300px;
  height: 300px; 
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.instructor-detail-info {
  margin: 0 auto;
  max-width: 300px;
  text-align: left;
}

.instructor-detail-info p {
  margin: 10px 0;
  font-size: 1.2em;
  color: #818080;
}

/* Comment Section */
.comment-section {
  margin-top: 40px;
  background-color: #222222;
  padding: 20px;
  border-radius: 10px;
}

.comment-section h3 {
  color: #ffffff;
}

.comment-section form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-section textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555555;
  background-color: #333333;
  color: #ffffff;
}

.comment-section .rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-section .rating label {
  margin-right: 10px;
  color: #ffffff;
}

.comment-section select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333333;
  color: #ffffff;
}

.comment-section button {
  padding: 10px 20px;
  background-color: palevioletred;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-section button:hover {
  background-color: #e74c3c;
}

/* Comment List */
.comment-section ul {
  list-style-type: none;
  padding: 0;
}

.comment-section li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333333;
  border-radius: 5px;
}

.comment-section li p {
  margin: 0;
  color: #ffffff;
}

.comment-section li p:nth-child(2) {
  margin-top: 5px;
  font-size: 0.9em;
  color: #cccccc;
}

@media (max-width: 768px) {
  .instructor-detail-image {
    width: 80%; /* Responsive image width */
    height: auto; /* Maintain aspect ratio */
  }

  .instructor-detail-info {
    max-width: 90%; /* Wider info container */
  }
}

.comment-section {
  margin-top: 20px;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.comment-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.comment-username {
  font-weight: bold;
  margin-bottom: 5px;
}