.fullscreen-video {
    position: fixed;
    top: 55%;
    left: 50%;
    width: 90%;
    height: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -55%);
    z-index: 1000;
}

.fullscreen-video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .fullscreen-video {
        width: 95%; /* Slightly wider for mobile */
        height: 90%; /* More height for mobile */
        top: 50%; /* Adjust vertical position */
        transform: translate(-50%, -50%); /* Center it */
    }

    .back-button {
        font-size: 20px; /* Smaller button on mobile */
        padding: 8px; /* Adjust padding */
    }
}
